.header {
  max-width: 1240px;
  height: 68px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: 1.5%;

  nav {
    height: 34px;
    width: 309px;

    ul {
      display: flex;
      width: 95%;
      justify-content: space-around;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      // text-decoration: underline;
      text-underline-position: from-font;
      text-decoration-style: unset;
      li {
        list-style: none;

        a {
          //   text-decoration: unset;
          color: black;
        }
      }
    }
  }
}

.noUnderline {
  text-decoration: none;
}
@media (min-width: 375px) and (max-width: 475px) {
  .header {
    max-width: 335px;

    align-items: center;

    img {
      max-width: 145px;
      max-height: 49px;
    }

    nav {
      min-width: 190px;
      max-height: 17px;
      display: flex;
      align-items: center;
      flex-direction: row;
      align-content: center;
      ul {
        display: flex;

        font-size: inherit;
      }
    }
  }
}
@media (min-width: 476px) and (max-width: 575px){
  .header {
  

    align-items: center;

    img {
      max-width: 145px;
      max-height: 49px;
    }

    nav {
      min-width: 190px;
      max-height: 17px;
      display: flex;
      align-items: center;
      flex-direction: row;
      align-content: center;
      ul {
        display: flex;

        font-size: inherit;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 768px){
  .header {
  
    align-items: center;

    img {
      max-width: 145px;
      max-height: 49px;
    }

    nav {
      min-width: 190px;
      max-height: 17px;
      display: flex;
      align-items: center;
      flex-direction: row;
      align-content: center;
      ul {
        display: flex;

        font-size: inherit;
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1280px){
  // .header {
  
  //   align-items: center;

  //   img {
  //     max-width: 145px;
  //     max-height: 49px;
  //   }

  //   nav {
  //     min-width: 190px;
  //     max-height: 17px;
  //     display: flex;
  //     align-items: center;
  //     flex-direction: row;
  //     align-content: center;
  //     ul {
  //       display: flex;

  //       font-size: inherit;
  //     }
  //   }
  // }
}
