.header {
  max-width: 1240px;
  height: 68px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: 1.5%;

  nav {
    height: 34px;
    width: 309px;

    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      // text-decoration: underline;
      text-underline-position: from-font;
      text-decoration-style: unset;
      li {
        list-style: none;

        a {
          //   text-decoration: unset;
          color: black;
        }
      }
    }
  }
}

.noUnderline {
  text-decoration: none;
}
