#gallery-section {
  max-height: 829px;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* position: relative; */
  margin-top: 4%;

  #gallery {
    width: 100%;
    height: 94%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    overflow: scroll;
    scrollbar-width: none;
    justify-content: space-evenly;
    flex-direction: row;

    #card {
      max-width: 340px;
      max-height: 340px;
      width: 100%;
      height: 100%;
      border-radius: 11px;
      color: #ffffff;
      text-decoration: none;
      margin: 2% 0%;
      box-shadow: 0px 3.1px 5px 0.1px lightgray;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        image-rendering: pixelated;
        border-radius: 11px;
      }

      h3 {
        text-overflow: clip;

        text-wrap: auto;
        word-wrap: break-word;
        z-index: 100;
        position: relative;
        top: -30%;
        right: -7%;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 475px) {
  #gallery-section {
    max-width: 335px;
    max-height: 805px;
    background-color: unset;
    margin: 0;
  }
}
// @media (min-width: 476px) and (max-width: 575px) and (max-width: 768px) {
//   #gallery-section {
//     background-color: unset;
//     margin: 0;
//     #gallery {
//       #card {
//         max-width: none;
//       }
//     }
//   }
// }
@media (min-width: 476px) and (max-width: 768px) {
  #gallery-section {
    background-color: unset;
    margin: 0;
    #gallery {
      #card {
        max-width: none;
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 785px) {
  #gallery-section {
    background-color: unset;
    margin: 0;
    #gallery {
      #card {
        max-width: 320px;
        max-height: 320px;
      }
    }
  }
}
@media (min-width:  786px) and (max-width: 1280px) {
  #gallery-section {
    // background-color: unset;
    margin: 3% 0 0 0;
    #gallery {
      #card {
        // max-width: 320px;
        // max-height: 320px;
        margin: 1%;
      }
    }
  }
}
