:root {
  margin: 0;
  height: 100%;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  background-color: black;

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 1517px;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;

    #root {
      width: 100%;

      background-color: black;

      .content {
        width: 100%;
        max-height: 1517px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        // border: blue 1px solid;
        align-content: center;
        flex-wrap: nowrap;
        background: white;
        justify-content: flex-end;

        #main {
          max-width: 1240px;
          width: 100%;
          height: 100%;
          /* max-height: 1065px; */
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 2%;
          position: relative;
          top: 3%;
        }
      }
    }
  }
  @media (min-width: 375px) {
    body {
      min-width: 375px;
      #root {
        .content {#main {
          height: 843px;
        }
        }
        
      }
    }
  }
}
