:root {
  margin: 0;
  height: 100%;
  // border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  background-color: black;

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    // border: #57ea7c 1px solid;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 1517px;
    align-items: center;
    flex-wrap: wrap;

    #root {
      width: 100%;
      height: 100%;
      background-color: black;

      .content {
        width: 100%;
        max-height: 1517px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        // border: blue 1px solid;
        align-content: center;
        flex-wrap: nowrap;
        background: white;
        justify-content: flex-end;

        #main {
          // border: #8a57ea 1px solid;
          max-width: 1240px;
          width: 100%;
          height: 100%;
          max-height: 1065px;
          display: flex;
          flex-direction: column;
          align-items: center;
          // background-color: aqua;
          margin-top: 2%;
        }
      }
    }
  }
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
