main {
  #carrousel {
    width: 100%;
    max-height: 415px;
    height: 100%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 29px;
    box-shadow: 0px 2px 3px 0px;
    overflow: hidden;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .arrow-carrousel {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      position: fixed;
      width: 90%;
      max-width: 1240px;
      flex-wrap: nowrap;
      img {
        cursor: pointer;
      }
    }
  }

  .title {
    font-family: "Montserrat";
    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 142.6%;
      color: #ff6060;
      margin: 0;
    }
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: flex-start;
  }
  .flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;

    align-content: center;
  }
  .space-between {
    justify-content: space-between;
  }

  #union {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-content: center;
    justify-content: space-around;

    #group-2 {
      display: flex;
      width: 100%;
      height: 25px;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      color: white;

      #tags {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        align-items: center;
        height: 25px;
        justify-content: flex-start;
        align-content: center;

        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          margin-right: 1%;
          background: #ff6060;
          border-radius: 10px;
          width: 125px;
          height: 25px;
          text-align: center;
          align-content: center;
        }
      }
      #rate {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        max-width: 196px;
        max-height: 36px;
        width: 100%;
        justify-content: space-around;
      }
    }

    #group-1 {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }
    #host {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      align-content: center;
      max-width: 167px;
      max-height: 64px;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      p {
        position: relative;

        width: 93px;
        height: 52px;
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;

        align-items: flex-end;
        text-align: right;
        color: #ff6060;
      }
      .circle {
        max-width: 64px;
        width: 100%;
        height: 100%;

        border-radius: 100%;
        overflow: hidden;
        & > img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #details {
    display: flex;
    /* height: 25%; */
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    /* align-items: flex-start; */
    margin-top: 3%;

    .container-dropdown {
      // background-color: #f0f0f0;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      /* flex-wrap: nowrap; */
      width: 49%;
      position: relative;
      top: 1%;
      border-radius: 10px;
      .description{}
      .equipments-list{}
    }
    #dropdown {
      display: flex;
      height: 52px;
      width: 98%;

      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      background-color: #ff6060;
      color: #ffffff;
      border-radius: 10px;
      padding: 0px 1%;
      /* margin-top: 4%; */
    }
    .list-style {
      margin: 2%;
      padding: 0;
      list-style: none;
    }

    .hidden {
      display: none;
      
    }
    .visible{
      background-color: #f0f0f0;
    }
  }
}
