main {
  #carrousel {
    width: 100%;
    height: 475px;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0px 1px 4px 0px;
    overflow: hidden;
    position: relative;

    .numeration {
      position: absolute;
      bottom: 1%;
      color: white;
    }
    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .arrow-carrousel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      max-width: 1240px;
      flex-wrap: nowrap;
      align-items: center;

      img {
        cursor: pointer;
      }
    }
  }

  .title {
    font-family: "Montserrat";
    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 142.6%;
      color: #ff6060;
      margin: 0;
    }
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: flex-start;
  }
  .flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;

    align-content: center;
  }
  .space-between {
    justify-content: space-between;
  }

  #union {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-content: center;
    justify-content: space-around;

    #group-2 {
      display: flex;
      width: 100%;
      height: 25px;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      color: white;

      #tags {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        align-items: center;
        height: 25px;
        justify-content: flex-start;
        align-content: center;

        p {
          /* font-family: "Montserrat"; */
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          margin-right: 1%;
          background: #ff6060;
          border-radius: 5px;
          width: 20%;
          height: 25px;
          text-align: center;
          align-content: center;
        }
      }
      #rate {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        align-content: center;
        max-width: 196px;
        max-height: 36px;
        width: 100%;
        justify-content: flex-end;

        img {
          margin-left: 4%;
        }
      }
    }

    #group-1 {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }
    #host {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      align-content: center;
      max-width: 167px;
      max-height: 64px;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      p {
        position: relative;

        width: 93px;
        height: 52px;
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;

        align-items: flex-end;
        text-align: right;
        color: #ff6060;
      }
      .circle {
        max-width: 64px;
        width: 100%;
        height: 100%;

        border-radius: 100%;
        overflow: hidden;
        & > img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #details {
    display: flex;
    /* height: 25%; */
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: 3%;
  }

  .hidden {
    display: none;
  }
  .visible {
    background-color: #f0f0f0;
  }
}

@media (min-width: 375px) and (max-width: 475px) {
  main {
    #carrousel {
      max-height: 255px;

      .numeration {
      }
      & > img {
      }
      .arrow-carrousel {
        img {
          height: 24px;
        }
      }
    }

    .title {
      #host {
      
        p {
 
        }
        .circle {
          max-width: 64px;
          width: 100%;
          height: 100%;
  
          border-radius: 100%;
          overflow: hidden;
          & > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .flex-column {
    }
    .flex-row {
    }
    .space-between {
    }

    #union {
      flex-direction: column;
      flex-wrap: nowrap;
      position: relative;
      #group-2 {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        #tags {
          height: 18px;
          position: relative;
          top: -160%;

          p {
            width: 84px;
            height: 18px;
            font-size: 14px;
          }
        }
        #rate {
          width: 98px;
          height: 18px;
          position: relative;
          left: -31%;
          bottom: -59%;
          img {
            height: 18px;
          }
        }
      }

      #group-1 {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
      }
      .title {
        font-size: 36px;
        position: relative;
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
        }
      }
      #host {
        flex-direction: row;
        width: 136px;
        height: 33px;
        align-items: flex-start;
        justify-content: space-between;
        align-content: center;
        position: relative;
        top: 34%;
        p {
          font-size: 12px;
        }
        .circle {
          width: 32px;
          height: 32px;
        }
      }
    }
    #details {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      top: 6%;
      height: 80px;
      left: -90px;
    }
  }

  .hidden {
    display: none;
  }
  .visible {
    background-color: #f0f0f0;
  }

  //fin
}
