.layout {
  width: 100%;

  max-height: 1435px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 375px) and (max-width: 475px) {
  .layout {
    max-width: 335px;
  }
}
@media (min-width: 476px) and (max-width: 575px) {
  .layout {
    width: 95%;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .layout {
    width: 95%;
  }
}
