.layout {
 
  width: 100%;

  max-height: 1435px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 475px){
  .layout {
    max-width: 335px;
  }
}
