.container-dropdown {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  top: 1%;
  border-radius: 5px;
  

}

#dropdown {
  display: flex;
  height: 52px;
  width: 98%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #ff6060;
  color: #ffffff;
  border-radius: 10px;
  padding: 0px 1%;
  font-size: x-large;
  font-weight: 400;

  p {
    margin: 0;
  }
  .animation_open {
    transform: rotateZ(-180deg);
    transition: transform 150ms ease-in;
  }
  .animation_close {
    transform: rotateZ(0deg);

    transition: transform 150ms ease-in;
  }

  @keyframes anim_down {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes anim_up {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animation_down {
    background-color: red;
    animation: anim_down 3s infinite;
  }
  .animation_up {
    background-color: red;
    animation: anim_up 3s;
  }
}
.list-style {
  margin: 2%;
  padding: 0;
  list-style: none;
}

@keyframes anim_down {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
    background-color: #f0f0f0;
  }
}

.animation_down {
  transform-origin: top;

  animation: anim_down 150ms linear forwards;
}

.hidden {
display: none;
}
.visible {
background-color: #f0f0f0;
}