.container-dropdown {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  top: 1%;
  border-radius: 5px;
}

#dropdown {
  display: flex;
  height: 52px;
  width: 98%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #ff6060;
  color: #ffffff;
  border-radius: 5px;
  padding: 0px 1%;
  font-size: x-large;
  font-weight: 400;

  p {
    margin: 0;
  }
  .animation_open {
    transform: rotateZ(-180deg);
    transition: transform 150ms ease-in;
  }
  .animation_close {
    transform: rotateZ(0deg);

    transition: transform 150ms ease-in;
  }

  // @keyframes anim_down {
  //   from {
  //     opacity: 1;
  //   }
  //   to {
  //     opacity: 0;
  //   }
  // }
  // @keyframes anim_up {
  //   from {
  //     opacity: 0;
  //   }
  //   to {
  //     opacity: 1;
  //   }
  // }
  // .animation_down {
  //   background-color: red;
  //   animation: anim_down 3s infinite;
  // }
  // .animation_up {
  //   background-color: red;
  //   animation: anim_up 3s;
  // }
}
.list-style {
  margin: 2%;
  padding: 0;
  list-style: none;
}

@keyframes anim_down {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
    background-color: #f0f0f0;
  }
}

.animation_down {
  transform-origin: top;

  animation: anim_down 150ms linear forwards;
}

.hidden {
  display: none;
}
.visible {
  background-color: #f0f0f0;
}
.width {
  width: 49%;
}
.aPropos-width {
  width: 100%;
  margin: 2% 0%;
}

@media (min-width: 375px) and (max-width: 475px) {
  .container-dropdown {
  }
  #dropdown {
    font-size: 13px;
    height: 30px;
    width: 315px;
    padding: 0px 10px;
    margin: 10px 0;

    p {
      margin: 0;
    }
    img {
      height: 16px;
    }
    .animation_open {
      transform: rotateZ(-180deg);
      transition: transform 150ms ease-in;
    }
    .animation_close {
      transform: rotateZ(0deg);

      transition: transform 150ms ease-in;
    }

    @keyframes anim_down {
      from {
        transform: scaleY(0);
        opacity: 0;
      }
      to {
        transform: scaleY(1);
        opacity: 1;
        background-color: #f0f0f0;
        width: 335px;
        margin-bottom: 7%;
      }
    }

    .animation_down {
      transform-origin: top;

      animation: anim_down 150ms linear forwards;
    }

    .hidden {
      display: none;
    }
    .visible {
      background-color: #f0f0f0;
    }
  }
  //fin
}
@media (min-width: 476px) and (max-width: 575px) {
  .container-dropdown {
    width: 100%;
  }
  #dropdown {
    font-size: 13px;
    height: 30px;
    width: 315px;
    padding: 0px 10px;
    margin: 10px 0;
    width: 95%;
    p {
      margin: 0;
    }
    img {
      height: 16px;
    }
    .animation_open {
      transform: rotateZ(-180deg);
      transition: transform 150ms ease-in;
    }
    .animation_close {
      transform: rotateZ(0deg);

      transition: transform 150ms ease-in;
    }

    @keyframes anim_down {
      from {
        transform: scaleY(0);
        opacity: 0;
      }
      to {
        transform: scaleY(1);
        opacity: 1;
        background-color: #f0f0f0;
        width: 335px;
        margin-bottom: 7%;
      }
    }

    .animation_down {
      transform-origin: top;

      animation: anim_down 150ms linear forwards;
    }

    .hidden {
      display: none;
    }
    .visible {
      background-color: #f0f0f0;
    }
  }
  //fin
}
@media (min-width: 576px) and (max-width: 768px) {
  .container-dropdown {
    width: 100%;
  }
  #dropdown {
    padding: 0px 10px;
margin-top: 3%;
    width: 95%;
    p {
      margin: 0;
    }
    img {
      height: 16px;
    }
    .animation_open {
      transform: rotateZ(-180deg);
      transition: transform 150ms ease-in;
    }
    .animation_close {
      transform: rotateZ(0deg);

      transition: transform 150ms ease-in;
    }

    @keyframes anim_down {
      from {
        transform: scaleY(0);
        opacity: 0;
      }
      to {
        transform: scaleY(1);
        opacity: 1;
        background-color: #f0f0f0;
        width:98%;
       
      }
    }

    .animation_down {
      transform-origin: top;

      animation: anim_down 150ms linear forwards;
    }

    .hidden {
      display: none;
    }
    .visible {
      background-color: #f0f0f0;
    }
  }
  //fin
}
