#hero-section {
  height: 151px;
  // border: #d17e2c 1px solid;
  max-width: 1240px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px black;
  justify-content: center;
}

.box-title {
  color: white;
  width: 100%;
  height: 100%;
  left: calc(50% - 366.5px + 19.5px);
  top: 241px;
  font-weight: 700;
  font-size: 48px;
  display: flex;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  filter: drop-shadow(2px 4px 6px black);

  border-radius: 10px;
}

 @media (min-width: 375px) and (max-width: 475px){
  #hero-section {
    max-height: 111px;
    max-width: 335px;
  }

  .box-title {
    font-size: 24px;

    p{   
      width: 69%;
      TEXT-ALIGN: left;
      margin: 0% 16% 0 0;}
  }
}
