#footer {
  width: 100%;
  height: 100%;
  /* max-height: 25%; */
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6%;
 
  a {
    width: 100%;
    max-width: 122px;
    max-height: 39.44px;
    /* height: 100%; */
    margin-top: 4%;
  }

  p{
    font-size: large;
  }
}
