#footer {
  border: #0c0d19 1px solid;
  width: 100%;
  max-height: 209px;
  height: 100%;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    width: 100%;
    max-width: 122px;
    max-height: 39.44px;
    height: 100%;
  }

  p{
    font-size: 500;
  }
}
