#footer {
  width: 100%;
  height: 100%;
  /* max-height: 25%; */
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;

  a {
    width: 100%;
    max-width: 122px;
    max-height: 39.44px;
    /* height: 100%; */
    margin-top: 4%;
  }

  p {
    font-size: large;
  }
}
@media (min-width: 375px) and (max-width: 475px) {
  #footer {
    height: 309px;
    min-width: 375px;
    width: 100%;

    a {
      width: 100%;
      max-width: 122px;
      max-height: 39.44px;
      /* height: 100%; */
      margin-top: 4%;
    }

    p {
      width: 132.59px;
      height: 46px;
      text-align: center;
      font-size: 12px;
    }
  }
}
@media (min-width: 476px) and (max-width: 575px) {
  #footer {
    height: 309px;
    min-width: 375px;
   

    a {
      width: 100%;
      max-width: 122px;
      max-height: 39.44px;
      /* height: 100%; */
      margin-top: 4%;
    }

    p {
      width: 132.59px;
      height: 46px;
      text-align: center;
      font-size: 12px;
    }
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #footer {
    height: 309px;
    min-width: 375px;
  

    a {
      width: 100%;
      max-width: 122px;
      max-height: 39.44px;
      /* height: 100%; */
      margin-top: 4%;
    }

    p {
      width: 132.59px;
      height: 46px;
      text-align: center;
      font-size: 12px;
    }
  }
}
@media (min-width: 769px) and (max-width:1280px) {
 
}