#hero-section {
  max-height: 223px;
  border: #d17e2c 1px solid;
  max-width: 1240px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/src/presentation_Layer/assets/img_heroSection.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  box-shadow: 0px 4px 4px black;
  justify-content: center;
}

.box-title {
  color: white;
  width: 100%;
  height: 100%;
  left: calc(50% - 366.5px + 19.5px);
  top: 241px;
  font-weight: 700;
  font-size: 48px;
  display: flex;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  filter: drop-shadow(2px 4px 6px black);
  backdrop-filter: brightness(0.5);

  border-radius: 30px;
}

#gallery-section {
  /* border: #d17e2c 1px solid; */
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  margin: 4% 0%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  #gallery {
    width: 100%;
    height: 94%;
    /* background-color: cadetblue; */
    /* margin: 0%; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;

    #card {
      max-width: 340px;
      max-height: 340px;
      width: 100%;
      height: 100%;
      background-color: chocolate;
      border-radius: 10px;
      color: #ffffff;
      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }

      h3 {
        text-overflow: clip;

        text-wrap: auto;
        word-wrap: break-word;
        z-index: 100;
        position: relative;
        top: -30%;
        right: -7%;
      }
    }
  }
}
